@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    box-sizing: border-box;
    font-family: Syne Mono, serif;
}

body{
    overflow-y: hidden;
}

canvas{
    border: 13px solid #37474f;
    border-radius: 7px;
    max-width: 960px;
}

section {
    background-image: url("../images/background/main-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
}

header > span{
    font-size: 32px;
    font-weight: bold;
}

article span {
    font-size: 1.4rem;
    color: #3f51b5;
}

article .col {
    font-size: 1.1rem;
    color: #c5cae9;
}